:root {
  --hue-correct: green;
  font-family: "Franklin Gothic Medium";
  text-align: center;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: aquamarine;
}
.container {
  width: 100px;
  max-width: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}
.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}
.btn {
  border-radius: 5px;
  padding: 5px 10px;
  color: black;
  outline: none;
}
.btn:hover {
  border-color: black;
}
.start-btn,
.next-btn {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
